In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd
from pathlib import Path

In [12]:
df = pd.read_csv("/Users/taddbindas/projects/soils_work/lgar-py/data/agu_2023/soil_moisture_06332515.csv")
df.head()

         Date  soil_moisture_layer_1  soil_moisture_layer_2
0  1980-01-01               0.246935               0.206608
1  1980-01-02               0.245652               0.207005
2  1980-01-03               0.244747               0.207273
3  1980-01-04               0.244269               0.207398
4  1980-01-05               0.243955               0.207469

In [13]:
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
df.set_index('Date', inplace=True)
df_hourly = df.resample('H').asfreq()
df_hourly.head()

                     soil_moisture_layer_1  soil_moisture_layer_2
Date
1980-01-01 00:00:00               0.246935               0.206608
1980-01-01 01:00:00                    NaN                    NaN
1980-01-01 02:00:00                    NaN                    NaN
1980-01-01 03:00:00                    NaN                    NaN
1980-01-01 04:00:00                    NaN                    NaN

In [15]:
df_hourly = df_hourly.interpolate(method='linear')

In [16]:
df_hourly.head()

                     soil_moisture_layer_1  soil_moisture_layer_2
Date
1980-01-01 00:00:00               0.246935               0.206608
1980-01-01 01:00:00               0.246882               0.206624
1980-01-01 02:00:00               0.246828               0.206641
1980-01-01 03:00:00               0.246775               0.206657
1980-01-01 04:00:00               0.246721               0.206674

In [17]:
df_hourly.to_csv("/Users/taddbindas/projects/soils_work/lgar-py/data/agu_2023/06332515_hourly_soil_moisture.csv")