In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/Users/taddbindas/projects/soils_work/lgar-py/data/agu_2023/NLDAS_PotEvap_06332515.csv")
df.head()

         Date  pot_evaporation_(kg_m-2_s-1)
0  1980-01-01                      0.000001
1  1980-01-02                      0.000006
2  1980-01-03                      0.000003
3  1980-01-04                      0.000004
4  1980-01-05                      0.000003

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

# Set 'datetime' as the index
df.set_index('Date', inplace=True)

df["pot_evaporation_(kg_m-2_s-1)"] = df["pot_evaporation_(kg_m-2_s-1)"].values * 3600

df.head()

            pot_evaporation_(kg_m-2_s-1)
Date
1980-01-01                      0.004881
1980-01-02                      0.021085
1980-01-03                      0.012207
1980-01-04                      0.012666
1980-01-05                      0.010348

In [5]:
df.rename(columns={
    'pot_evaporation_(kg_m-2_s-1)': 'PET(mm/h)'
}, inplace=True)

In [6]:
# Upsample from daily to hourly
df = df.resample('H').asfreq()

# Interpolate hourly values
df = df.interpolate(method='linear')

In [7]:
df_reset = df.reset_index()
df_reset.to_csv("/Users/taddbindas/projects/soils_work/lgar-py/data/agu_2023/06332515_hourly_PET_NLDAS_FRED.csv")
df_reset.head()

                 Date  PET(mm/h)
0 1980-01-01 00:00:00   0.004881
1 1980-01-01 01:00:00   0.005556
2 1980-01-01 02:00:00   0.006231
3 1980-01-01 03:00:00   0.006906
4 1980-01-01 04:00:00   0.007581